* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('@/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format('TrueType');
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora'),
    url('@/assets/fonts/lora/Lora-VariableFont_wght.ttf') format('TrueType');
}

@font-face {
  font-family: 'Inconsolata';
  src:
    local('Inconsolata'),
    url('@/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('TrueType');
}

.inter {
  font-family: 'Inter', sans-serif;
}

.lora {
  font-family: 'Lora', serif;
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
}

body {
  padding: 60px 0;
  background-color: $white;
  font-weight: normal;
  color: $medium_black;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  display: flex;
  justify-content: center;

  #app {
    flex-basis: 100%;
    max-width: 736px;
  }
}

body.dark {
  background-color: $black;
  color: $white;

  .fallbackMsg {
    color: $white;
  }

  .options {
    background-color: $dark_black;
    box-shadow: 0 0 20px 1px $purple;
  }

  .searchInput input {
    border-color: $dark_black;
    background-color: $dark_black;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  .middlePart {
    border-color: $light_black;
  }

  h2 {
    &::after {
      background-color: $light_black;
    }

    span {
      background-color: $black;
    }
  }

  .sourceLink {
    color: $white;
  }

  .noDataTitle {
    color: $white;
  }
}

@keyframes showing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 24px;
  }
}
