$purple: #a445ed;
$warning: #ff5252;
$dark_gray: #757575;
$medium_gray: #e9e9e9;
$light_gray: #f4f4f4;
$white: #ffffff;
$black: #050505;
$dark_black: #1f1f1f;
$medium_black: #2d2d2d;
$light_black: #3a3a3a;
